/** @format */


      .background-image {
            background-image: url("../../../assets/bg.jpg");
            background-size: cover;
            background-position: center top;
      }
      .account-container {
            top: 200px;
            padding: 100px;
            width: 100%;
            padding: 15px 0 15px 0;

            overflow: hidden;
            display: flex;

            .account-left {
                  width: 20%;
                  padding: 10px;

                  .headline {
                        align-items: center;
                        height: 70px;
                        display: flex;
                        border-bottom: rgb(227, 227, 227) solid 1px;
                        h5 {
                              padding-top: 15px;
                              margin: 0;
                              font-weight: 600;
                              color: black;
                        }

                        .user {
                              padding-left: 5px;
                        }

                        .image {
                              border-radius: 50%;
                              width: 50px;
                              height: 50px;
                              margin: 0;
                        }

                        img {
                              width: 50px;
                              height: 50px;
                        }
                  }

                  .content {
                        margin: 0;
                        padding: 15px 10px 10px 10px;
                        width: 100%;
                        box-shadow: none;

                        .item {
                              display: flex;
                              padding-bottom: 10px;
                              padding-top: 10px;
                              .icon {
                                    img {
                                          width: 20px;
                                          height: 20px;
                                    }
                              }

                              .it {
                                    padding-left: 10px;
                                    padding-bottom: 0;
                                    span.chosse {
                                          color: red;
                                    }

                                    a.target {
                                          color: red;
                                    }

                                    a {
                                          text-decoration-line: none;
                                    }

                                    a:link {
                                          color: rgb(0, 0, 0);
                                    }

                                    a:visited {
                                          color: rgb(0, 0, 0);
                                    }

                                    a:hover {
                                          color: red;
                                    }
                              }
                        }
                  }
            }

            .account-right {
                  width: 80%;
                  display: inline-block;
                  padding: 10px;
                  border-radius: 0.4rem;
                  background-color: white;

                  .headline {
                        align-items: center;
                        height: 70px;
                        border-bottom: rgb(195, 195, 195) solid 1px;
                        h3 {
                              font-weight: 500;
                              color: black;
                        }
                  }

                  .container {
                        display: flex;
                        padding-top: 15px;
                        .formInput {
                              margin: 0;
                              width: 70%;
                              padding: 20px;
                              border-radius: 4px;
                              font-size: 12px;

                              h1 {
                                    color: #0f2027;
                                    text-align: center;
                              }

                              button {
                                    padding: 10px;
                                    margin-top: 10px;
                                    width: 75px;
                                    color: white;
                                    background-color: rgb(41, 57, 194);
                                    border: none;
                                    border-radius: 4px;
                              }

                              .container {
                                    padding: 15px;
                              }

                              select {
                                    padding: 5px;
                                    width: 30%;
                                    height: 40px;
                                    border: rgb(216, 216, 216) solid 1px;
                                    border-radius: 4px;
                              }

                              select.mid {
                                    margin: 0 5% 0 5%;
                              }

                              table {
                                    width: 100%;
                              }

                              .td-left {
                                    width: 20%;
                                    padding-top: 5px;
                                    padding-bottom: 20px;
                              }
                              .td-right {
                                    width: 80%;
                                    padding-bottom: 20px;

                                    input {
                                          border: 2px solid #c6c6c6;
                                          color: black;
                                          border-radius: 4px;
                                          display: block;
                                          font-size: 12px;
                                          padding: 10px;
                                          margin: 0;
                                          width: 100%;
                                    }
                              }
                              .form-check {
                                    overflow: hidden;
                                    display: flex;
                                    padding: 0;
                                    margin: 0;

                                    input[type="radio"] {
                                          display: inline-block;
                                          width: 15px;
                                    }

                                    label {
                                          display: inline-block;
                                          padding: 0px 15px 0px 8px;
                                          font-size: 14px;
                                    }
                              }
                        }

                        .image-form {
                              width: 30%;
                              height: 240px;
                              padding: 0 auto 0 auto;
                              text-align: center;
                              border-left: rgb(219, 219, 219) solid 1px;
                              .image {
                                    border-radius: 50%;
                                    width: 100px;
                                    height: 100px;
                                    margin: 15px auto 15px auto;
                              }

                              img {
                                    width: 100px;
                                    height: 100px;
                              }

                              .center {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    padding-bottom: 10px;
                              }

                              button {
                                    padding: 0;
                                    margin-top: 10px;
                                    width: 100px;
                                    height: 40px;
                                    color: rgb(0, 0, 0);
                                    background-color: #c6deff;
                                    border: solid 1px grey;
                                    border-radius: 4px;
                              }

                              p {
                                    margin-bottom: 5px;
                              }
                        }
                  }
            }
      }

